name: Release

on:
  push:
    branches:
      - main # Trigger on pushes to the main branch

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      # Needs write access to create releases, read packages, and write for discussions (for notes)
      contents: 'write'
      packages: 'read'
      discussions: 'write'
      # Pull requests permission is used to comment on PRs mentioned in release notes
      pull-requests: 'write'
      # Issues permission is used to comment on issues being closed in the release
      issues: 'write'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Ensure full history is fetched

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        run: npm run build

      - name: Run Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
